//Susy setup -------------
$total-columns : 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
@include border-box-sizing;

$small: 30em;
$medium: 45em;
$large: 75em;


html,body { height: 100%; margin: 0px; padding: 0px; }

.overlay-view {
	overflow: hidden;
}
//Nav --------------------
.navigation {
	position: fixed;
	top: 0;
	width: 100%;
	background: $lightgray;
	.layout {
		@include container;
	}
	@include at-breakpoint($medium) {
		padding: 10px;
	}
	@include single-transition(all, 0.5s, ease-in);
	ul.altNav {

		display: initial;
		
		text-align: center;
		@include at-breakpoint($small) {
			display: none;
		}
		
		a {
			@include single-transition(all, 0.3s, ease-in);
			font-family: 'Lato', Serif;
		}
		li.showNav {
			padding: 15px 0;
			&:hover {
				a {
					color: $salmon;
					text-decoration: none;
					background: $lightgray;
				}
			}
		}
		
	}
	ul.nav {
		.hideNav {
			text-align: center;
		}
		display: none;
		@include at-breakpoint($small) {
			display: initial;
			@include span-columns(12 omega, 12);
			@include horizontal-list;
			.hideNav {
				display: none;
			}
		}
		li {
			@include single-transition(all, 1.8s, ease-in);
			display: inline;
			@include at-breakpoint($small) {
				float:right;
				a {
					float: right;
				}
			}
			i {

			}
			a {
				display: block;
				text-decoration: none;
				padding: 15px 22px;
				font-family: 'Lato', Serif;
				color: black;
			}
			&:hover {

				a {
					color: $salmon;
					@include single-transition(all, 0.3s, linear);

				}
			}
		}
	}
}


//Splash-tab ------------------------------

.splashTab {
	height: 80%;
	width: 100%;
	background: $darkgray;
	display: flex;
	justify-content: center;
  	align-items: center;
  	resize: both;
  	overflow: auto;
  	position: relative;
  	a.resume {
  		position: absolute;
  		right: 1.5em;
  		bottom: 1.5em;
		color: white;
		background: lighten($green, 20%);
		@include single-transition(background, 0.4s, linear);
		padding: 15px;
		border-radius: 8px;
		font-family: 'Lato', sans-serif;
		&:hover {
			text-decoration: none;
			background: $green;
		}
  	}
	.layout {
		@include container;
		#splashGuy {
			@include single-transition(all, 0.3s, linear);
			float: left;
			padding: 40px;
			@include at-breakpoint($medium) {
				width: inherit;
				img {
					display: initial;
				}
			}
			width: 100%;
			img {

				height: 100px;
				margin: 0 auto;
				display: block;

			}
			
		}
		#splashText {
			float: right;
			text-align: center;
			padding: 40px;
			width: 100%;
			h1 {
				font-size: 2.8em;
				font-family: 'Oswald', 'Nunito', sans-serif;
				font-weight: 900;
				text-transform: uppercase;
				margin-bottom: 0.8rem;
				@include single-transition(all, 0.5s, ease-in);
			}
			@include at-breakpoint($small)  {
				padding: 50px 40px 40px 40px;
			}
			@include at-breakpoint($medium) {
				width: inherit;
				h1 {
					font-size: 3.8em;
				}
			}
			
			p {
				font-size: 1.5em;
				font-family: 'Lato', Serif;

				em {
					color : $salmon;
					font-weight: 600;
				}
			}
		}
	}

}

//Project-tab ----------------------
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}



.projectTab {
	height: 300px;
	background: $cinder;
	display: none;
	overflow-x: scroll;

	#projects {
		width: 1200px;
		white-space: nowrap;
		padding-top: 50px;
		@include at-breakpoint($small) {
			
		}
		li.project {
			display: inline-block;
			vertical-align: top;

			a.overlay-trigger {
				&:hover {
					text-decoration: none;
				}
				.project_card {
					display: flex;
					height: 200px;
					width: 200px;

					text-align: center;
					background: #bdc3c7;
					justify-content: center;
					align-items: center;
					h1 {
						font-size: 1.4em;
						color: #95a5a6;
						font-family: 'Oswald', 'Nunito', sans-serif;
						small {
							font-size: .5em;
							font-style: italic;
						}
					}
					
					&:hover {
						opacity: 0.8;
						transition: opacity 0.5s ease-in;
						h1 {
							color: $green;
							transition: color 0.2s linear;
						}
					}
				}
			}
		}
	}
	.overlay {
	    overflow: scroll;
	    position: fixed;
	    display: none;
	    top: 0;
	    bottom: 110%;
	    left: 0;
	    right: 0;
	    width: 100%;
	    z-index: 10000;
	    opacity: 0;
	    background: #4D4D4D;
	    transition: opacity 200ms linear, bottom 0s linear 200ms;
	 	padding: 20px;
	    &-open {
	        bottom: 0;
	        opacity: 1;
	        transition: opacity 200ms linear, bottom 0s linear;
	        background: $pearl;
	        display: block;
	    }
	 
	    &-view {
	        overflow: hidden;
	    }
	 
	    &-form {
	        .overlay-inner {
	            background: #FFF;
	            margin: 5rem auto;
	            padding: 4rem;
	            max-width: 700px;
	            
	        }
	    }
	}
	.overlay-inner {

		padding: 20px;
		.closer {
			position: absolute;
			top: 5px;
			right: 5px;
			font-size: 1em;
			color: $cinder;
			font-family: 'Lato', sans-serif;
			&:hover {
				text-decoration: none;
			}
		}
		h1 {
        	text-align: center;
        	font-size: 3em;
        	font-family: 'Oswald', sans-serif;
        	margin-bottom: 35px;
        }
        .left {
        	padding-left: 10%;
        	padding-right: 10%;
			@include at-breakpoint($small) {
				@include span-columns(12, 12);
			}
			.screenshot {
				width: 90%;
				margin: 0 auto;
				height: auto;
				display: flex;
				margin-bottom: 20px;
			}
			
			ul {
				padding-left: 20px;
			}
			ul.tagsList {
				text-align: center !important;
			}
			ul.classicList {
				list-style-type: circle;
				list-style-position: inside;
				margin-top: 10px;
				li {
					padding: 2px;

				}

			}
			ul.pills{
				list-style: none;

				li {
					display: inline-block;
					padding:8px;
					font-family: 'Lato', sans-serif;
					border-radius: 3px;
					margin-right: 5px;
					background: lighten($green,14%);
					color: white;
					a {
						color:white;
						font-weight: bolder;
					}
					@include single-transition(opacity, 0.3s, linear);
					&:hover {
						opacity: 0.6;
					}
				}
			}
			h3 {
				font-family: 'Lato', sans-serif;
				font-size: 1.8em;
				font-weight: bolder;
				padding: 20px;
				margin-top: 10px;
				opacity: 0.7;
			}
			em {
				font-weight: bold;
				display: block;
				margin-top: 20px;
				font-family: 'Nunito', serif;
				font-size: 1.5em;
				margin-bottom: 5px;
			}
			.demoVideo {
				display: flex;
				justify-content: center;
				text-align: center;
				figcaption {
					font-size: 0.6em;
					display: block;
					text-align: center;
					font-family: 'Merriweather', serif;
				}
			}
			p {
				padding-left: 20px;
				line-height: 1.6em;
				font-family: 'Merriweather', serif;
				b {
					font-weight: bold;
				}
			}
        }
        .right {
			@include at-breakpoint($small) {
				@include span-columns(4 omega, 12);
			}
			img {
				padding: 20px;
				display: block;
				margin: 0 auto;
			}
        }
	}
}




//Work-tab -------------------------
.workTab {
	background: $green;
	height: 20%;
	display: flex;
	justify-content: center;
  	align-items: center;
  	resize: both;
  	overflow: auto;
  	cursor: pointer;
  	@include single-transition(background, 0.9s, ease-out);
  	h1 {
		text-align: center;
		color: white;
		font-size: 1.0em;
		font-style: italic;
		font-family: 'Lato', sans-serif;
		@include single-transition(all, 0.5s, ease-in);
	}
	@include at-breakpoint($small) {
		h1 {
			font-size: 1.5em;
		}
	}
	&:hover {
		background: lighten($green, 20);
	}

}

//About-tab --------------------------------

.aboutTab {
	height: 100%;
	background: $darkgray;
	display: flex;
	justify-content: center;
  	align-items: center;
  	resize: both;
  	overflow: auto;

	.layout {
		@include container;
		#bio {
			width: 100%;
			float: left;
			padding: 25px;
			background: $green;
			p {
				color: white;
				font-family: 'Lato', sans-serif;
				line-height: 20px;
			}
			border: 5px solid white;
			@include at-breakpoint($small) {
				width: 500px;
			}

		}
		.header {
			text-align: center;
			h1 {
				font-size: 3em;
				font-weight: 700;
				font-family: 'Nunito', sans-serif;
				color: $green;
				margin: 0 auto;
				width: 300px;
				padding-bottom: 20px;
				margin-bottom: 80px;
				border-bottom: 3px solid $green;
			}

		}
		.bottomGuy {
			img {
				height: 100px;
				margin: 0 auto;
				display: block;
			}
			width: 100%;
			float: left;
			padding: 60px;
			@include at-breakpoint($small) {
				width: inherit;
				
			}
		}
	}
}

.contactTab {
	height: 100%;
	background: $pearl;
	display: flex;
	justify-content: center;
  	align-items: center;
  	resize: both;
  	overflow: auto;

	.layout {
		@include container;
		
		.header {
			text-align: center;

			@include at-breakpoint($small) {
				padding-bottom: 60px;

			}
			h1 {
				font-size: 3em;
				font-weight: 700;
				font-family: 'Nunito', sans-serif;
				color: $green;
				margin: 0 auto;
				width: 300px;
				padding-bottom: 20px;
				margin-bottom: 20px;
				border-bottom: 3px solid $green;
			}

		}
		.contactGuy {
			img {
				height: 100px;
				margin: 0 auto;
				display: block;
			}
			width: 100%;
			float: left;
			padding: 30px;
			@include at-breakpoint($small) {
				width: inherit;
				@include span-columns (3, 12);
			}

		}
		form {
			@include at-breakpoint($small) {
				@include span-columns (6 omega, 12);
			}
			#emailInput {
				background: $formGray;
				border: none;
				padding: 20px 5px;
				width: 320px;
				margin-bottom: 20px;
				font-family: 'Lato', sans-serif;
			}
			#messageInput {
				width: 320px;
				background: $formGray;
				border: none;
				padding: 20px 5px;
				border: none;
			    overflow: auto;
			    outline: none;
				resize: none;
			    -webkit-box-shadow: none;
			    -moz-box-shadow: none;
			    box-shadow: none;
				display: block;
			    font-family: 'Lato', sans-serif;
			}
			#submitBtn {
				border: none;
				font-family: 'Lato', sans-serif;
				width: 320px;
				background: $salmon;
				color: $pearl;
				@include single-transition(background, 1.0s, ease-out);
				&:hover {
					background: lighten($salmon, 15);
				}
			}
		}
	}
}





//footer ------------------

footer {
	height: 15%;
	background: $cinder;
	padding-top: 30px;
	.layout {
		@include container;
		#left {
			@include span-columns(4,12);
			color: white;
			font-family: 'Lato', sans-serif;

		}
		#right {
			@include span-columns(4 omega,12);
			display: inline;
			color: white;
			float: right;
			text-align: right;
			font-family: 'Lato', sans-serif;
			overflow: hidden;
			@include at-breakpoint($small) {
				ul {
					li {
						display: inline;
						margin-right: 5px;
					}
				}
			}
		}
	}
}