$darkgray      	: #F1F1F1;
$lightgray      : #F9F9F9;
$salmon			: #F3827C;
$green 			: #2E6269;
$cinder			: #242931;
$formGray 		: #EFEFEF;
$pearl			: #FFFFFF;

$gray           : #708284;
$mediumgray     : #536870;
$darkblue       : #0A2933;
$darkerblue     : #042029;
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #595AB7;
$blue           : #2176C7;
$cyan           : #259286;


$default-border-radius: 10px;


@font-face {
	font-family: 'Adelle';
	src: url('fonts/adelle_regular-webfont-webfont.ttf') format('truetype');
}